html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: #fdfdfd; 
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px; 
}

.invalid-feedback {
  display: block; 
}

.margin-auto {
  margin: 0 auto;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;

}

.step__index {
  width: 35px;
  height: 35px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background-color: #b5b5b5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  z-index: 1;
}

.step:not(:first-child):before {
  height: .2em;
  width: 100%;
  bottom: 0;
  left: -50%;
  top: 1rem;
  content: " ";
  display: block;
  position: absolute;
  background: #b5b5b5;
}

.step.active:not(:first-child):before {
  background: #f26120;
}

.step.completed:not(:first-child):before {
  background: #f26120;
}

.step__title {
  font-weight: 700;
}

.step.completed .step__index {
  background: #f26120;
  border: 4px solid #f26120;
}

.step.active .step__index {
  
  background: #19ddfe;
  border: 4px solid #f26120;
}

.custom-file-label.invalid, input.invalid, select.invalid {
  border-color: #dc3545;
}

.custom-file-label:after {
  border-color: #ced4da;
}

